@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_opsz\,wght.ttf');
}

@font-face {
    font-family: 'Inspiration';
    src: url('../fonts/Inspiration-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Indieflower';
    src: url('../fonts/IndieFlower-Regular.ttf') format('truetype');
}
.header {
    height: 60px;
}
.navbar {
    width: 100%;
    height: 60px; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 0 5%;
    z-index: 1000; 
    transition: top 0.25s;
}

.navbar_ent {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
    max-width: 1200px; 
}

.navbar a {
    text-decoration: none;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem; 
    margin: 0 20px; 
    padding: 10px;
}

.navbar a:hover {
    text-shadow: 0 0 10px rgb(114, 68, 2);
}


.search-container {
    display: flex;
    align-items: center;
    position: relative;
    flex: 1;
    min-width: 50px; 
    max-width: 300px; 
}
    

.search-input {
    font-family: 'Inter', sans-serif;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 25px;
    flex: 1;
    font-size: 1rem;
    min-width: 50px; 
    max-width: 300px;
    background-color: #ffffff;
    border: 1px solid #000;
}

.suggestions {
    border-radius: 25px; 
    background-color: #ffefd8; 
    position: absolute;
    width: 100%;
    z-index: 1000;
    max-height: 150px;
    overflow-y: auto;
    display: none; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    top: 100%; 
    left: 0;
}

.suggestion-item {
    padding: 12px 16px; 
    cursor: pointer;
    color: #000000; 
    text-decoration: none;}

.suggestion-item:hover {
  background-color: #ffefd8;
    border-radius: 25px;
}
.dropdown {
    position: relative;
}

.dropbtn {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    position: relative;
}

.arrow {
    margin-left: 5px;
}

.dropdown-content {
    border-radius: 25px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    position: absolute;
    background-color: #ffffff65;
    min-width: 165px;
    box-shadow: 0 0 10px #505050;
    z-index: 1;
    margin-top: 5px;
}

.dropdown:focus-within .dropdown-content {
    max-height: 200px;
}

.dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #ffffff00;
    border-bottom: 1px solid #747272;
}

.dropdown-content a:hover {
    border-radius: 25px;
    background-color:#fce5c2;
}
/*=============================================TITLE=============================================*/
.main {
    padding-top: 60px;
}

.titles {
    padding-top: 8rem;
    text-align: center;
    margin-bottom: 20px;
}

.titles h1 {
    font-family: 'Inspiration', sans-serif;
    font-size: 6rem; 
}

.titles p {
    font-family: 'Indieflower', sans-serif;
    font-size: 1.5rem; 
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navbar_ent {
        flex-direction: column;
        align-items: center; 
    }

    .navbar a {
        margin: 5px 0; /* Space between links */
    }

    .search-container {
        width: 100%; 
        margin-top: 10px; 
    }

    .titles h1 {
        font-size: 4rem; 
    }
    .titles p {
        font-size: 1.2rem; 
    }
}
/* =================================== GLOBAL =================================== */
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #fce5c2;
    color: #333;
}

/* =================================== ABOUT HEADER =================================== */
.about-header {
    text-align: center;
    padding: 6rem 2rem 0rem 2rem;
    background-color: #fce5c2;
    border-bottom: 2px solid #fce5c2;
}

.about-header h1 {
    font-size: 5rem;
    margin: 0;
    color: #2b2b2b;
}

/* =================================== MAIN CONTENT =================================== */
.about-us-content {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fef5e7;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    line-height: 1.8;
    font-size: 1.1rem;
}

.about-us-content strong {
    color: #fa6d22;
}

.founders {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid #e0dcd7; /* Separator line */
}

.founders h3 {
    margin-bottom: 0.5rem;
    color: #444;
    font-size: 1.5rem; /* Slightly larger font for emphasis */
}

.founders ul {
    list-style-type: disc;
    padding-left: 1.
}
/*=============================================FOOTER=============================================*/
.footer {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    padding: 2rem; 
    color: #020202; 
    text-align: center;
}
.footer_title, h1 {
    font-family: 'Inspiration', sans-serif;
    font-size: 3rem; 
}

/* Responsive footer styles */
@media (max-width: 768px) {
    .footer_title, h1 {
        font-size: 2rem; 
    }
}